/node_modules
!input_template.xlsx
uploads/
.env.local
.next/
.cursor/
screenshots/ 
.env
repomix-output.xml
repomix
.vercel
.env.development.local
venv/
.venv/
videos/
debug_logs/
output